.simBtn{
    color: #e4e4e4!important;
    background: #3797a4!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.simBtn:hover,
.simBtn:focus{
    color: #3797a4!important;
    background: #e4e4e4!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.naoBtn{
    color: #3797a4!important;
    background: #e4e4e4!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.naoBtn:hover,
.naoBtn:focus{
    color: #e4e4e4!important;
    background: #3797a4!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}