.profileBg{
    background-color: #8ccbbe;
    background-size: cover;
    /* height: 100vh; */
}

.p{
    padding: 20px;
}

.avatar{
    width: 240px!important;
    height: 240px!important;
}

.pfTitle{
    color: #3797a4;
    font-weight: bold!important;
}

.pfNome{
    color: #3797a4;
    font-weight: bold!important;
    padding: 10px!important;
    text-align: center!important;
}

.pfText{
    color: #e4e4e4;
    text-align: center!important;
}