.imgBg{
    background-image: url('../../assets/img/logo1.png')!important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vh;
    height: 70vh;
}

.postagens{
    background-color: white;
}

.homeBg{
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8ccbbe;
    background-size: cover;
}
