.footerBg{
    background-color: #3797a4;
}

.m{
    margin: 0 10px;
}

.text-decorator-none{
    text-decoration: none;
}

.box{
    height: 100px;
}

.box1{
    height: 61px;
}

.redes{
    color: #e4e4e4;
}

.bold{
    font-weight: bold!important;
}

.pLeft{
    padding-left: 50px;
}

.pRight{
    padding-right: 50px;
}