.box1{
    background-color: #07a6ce;
    height: 120px;
}

.box2{
    background-color: #07a6ce;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color: rgb(0, 0, 0);
}

.textos{
   color: rgb(0, 0, 0);
}