.bg{
    background-color: #8ccbbe!important;
}

.img{
    image-resolution: 300dpi;
    width: 60px;
    height: 60px;
}

.text-decorator-none{
    text-decoration: none;
}

.home{
    color: white!important;
}

.color{
    color: black;
}